<h3>{{stopName}}</h3><button ng-click="refresh()">Refresh</button><br />
<a href="#/chooseStop">Velg stopp</a><span style="margin-left: 20px; color: #8699a4;">Hentet data {{updateTime | momentFormat:'HH:mm:ss'}} ({{ updateTime | prettyPrintDiff }} siden)</span>
<table>
	<tr ng-repeat="d in data | orderBy:'ExpectedDepartureTime' ">
		<td>{{ d.PublishedLineName }}</td>
		<td>{{ d.DestinationDisplay }}:</td>
		<td style="color: {{ color }};">{{d.ExpectedDepartureTime | prettyPrintDiff}}</td>
	<tr>
</table>
