
<div ng-if="error" class="alert alert-warning">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<strong>Advarsel!</strong> {{error}}
</div>
<h3>{{stopName}}</h3><button class="btn btn-default" ng-click="refresh()">Refresh</button>
<a class="btn btn-default" href="#/chooseStop" style="margin-left: 90px;">Velg stopp</a><br />
<span style="color: #8699a4;">Hentet data {{updateTime | momentFormat:'HH:mm:ss'}} ({{ updateTime | prettyPrintDiffPast }} siden)</span>
<table>
	<tr ng-repeat="d in data | orderBy:'ExpectedDepartureTime' ">
		<td>{{ d.PublishedLineName }}</td>
		<td>{{ d.DestinationDisplay }}:</td>
		<td style="color: {{ color }};"><span ng-show="!d.Monitored">ca </span>{{d.ExpectedDepartureTime | prettyPrintDiffFuture}}</td>
	<tr>
</table>
