<h3>{{stopName}}</h3><button ng-click="refresh()">Refresh</button><br />
<a href="#/chooseStop">Velg stopp</a><span style="margin-left: 20px; color: #8699a4;">Hentet data {{updateTime | momentFormat:'HH:mm:ss'}} ({{ minutesSinceUpdate }} siden)</span>
<table>
	<tr ng-repeat="d in data | orderBy:'ExpectedDepartureTime' "><td>{{ d.PublishedLineName }}</td><td>{{ d.DestinationDisplay }}:</td><td style="color: {{ color }};">{{d.ExpectedDepartureTime | diffInMinutes}}</td><td> ({{ d.}}%)</td><tr>
</table>
